
.about-page-main-title {
    font-size: 45px;
    font-weight: 700;
    margin: 15px 15px;
    color: #7c7c7c;
  }
  
  #about-page-section {
    padding: 3.5rem 0rem 1rem 0rem;
  }
  
  #about-page-content {
    padding: 1.5rem 1rem 2rem 1rem;
    text-align: justify;
    line-height: 1.95rem;
  }
  
  #about-page-details-row>#embed-video {
    overflow: hidden;
  }
  
  @media screen and (min-width: 1024px) and (max-width: 1299px) {
    #founder-card {
      position: absolute;
      top: 36rem;
      left: 1.5%;
      max-width: 250px;
    }
  
    #about-page-container {
      padding: 5px 1% 3% 1%;
    }
  
    .about-page-second-title h1 {
      font-size: 35px;
  
      margin-left: 10px;
  
    }
  
    .footer-logos {
      margin-left: 1%;
    }
  
  
    .about-page-main-title {
      font-size: 45px;
  
      font-weight: 700;
      padding: 5px;
      color: #7bc74d;
    }
  
    #embed-video {
      height: 300px;
      border-radius: 5px;
    }
  }
  
  @media (min-width: 1300px) {
    #founder-card {
      position: absolute;
      top: 33.4rem;
      left: 1.5%;
      max-width: 250px;
    }
  
    #about-page-container {
      padding: 5px 1% 3% 1%;
    }
  
    .about-page-second-title h1 {
      font-size: 35px;
      font-weight: 700;
      padding: 5px;
      color: #7bc74d;
    }
  
    #embed-video {
      height: 300px;
      border-radius: 5px;
    }
  }
  
  #founder-card img {
    border-radius: 60%;
    height: 52px;
    width: 52px;
  }
  
  /* max width is for the screens smaller than the size of 992px */
  
  @media (max-width: 992px) {
    .about-page-main-title {
      font-size: 15px;
      color: #7c7c7c;
      margin: 140px 25px 10px 20px;
      text-align: left;
    }
  
    .about-page-second-title {
      font-size: 36px;
      font-weight: 900;
      padding: 5px;
      color: #7bc74d;
    }
  
    #about-page-content {
      margin-top: 55px;
      padding: 0px 1rem;
      text-align: justify;
      line-height: 1.6rem;
      font-size: 14px;
    }
  
    #founder-card {
      margin-bottom: 2rem;
    }
  
    #founder-card img {
      border-radius: 60%;
      height: 50px;
      width: 50px;
      display: flex;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  
  .founder-details {
    text-decoration: none;
    list-style: none;
    display: block;
    justify-content: center;
    text-align: start;
  }
  
  #founder-card .card-body>h5 {
    margin: 1px;
    font-size: 15px;
  }
  
  #founder-card .card-body>p {
    margin: 1px;
    font-size: 14px;
  }
    