@import url("https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lightgallery.css");
@import url("https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-zoom.css");
@import url("https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-video.css");

* {
  margin: 0;
  padding: 0;
}
.image-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}

.image-box img {
  max-width: 280px;
  padding: 0 3px 5px 3px;
}

.Gallery-container {
  padding: 5px;
  text-align: center;
}

.categories-box h1 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #343a40;
}

.categories-item-box {
  list-style: none;
  padding: 10px;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.categories-item-box li {
  margin: 5px 10px;
  padding: 5px 7px;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 3px;
  color: #000;
  transition: all 0.3s ease;
  font-weight: 700;
}

.categories-item-box li.selected {
  background-color: #7bc74d;
  color: white;
  border-color: #7bc74d;
}

@media (max-width: 768px) {
  .categories-item-box li {
    padding: 8px 16px;
    font-size: 14px;
  }

  .image-box .img-responsive {
    max-width: 100%;
  }
}
/* 
#dropdown-basic {
  margin: 10px 0;
  background-color: #7bc74d;
  border: #7bc74d;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 1rem;
} */

/* Gallery.css or custom CSS file */

/* .dropdown-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
} */

/* .dropdown-item {
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #7bc74d;
  color: #fff;
}

.dropdown-item.selected {
  background-color: #7bc74d;
  color: #fff;
} */
