
a {
  text-decoration: none;
}


/* styling the head contact area */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #fff;
  z-index: 10;
}

.header-icon {
  height: 30px;
  width: 30px;
}

  
.TopHeader {
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
  min-height: 40px;
}

.wrapper {
  display: flex;
  width: 35%;
  justify-content: space-between;
}

.contact-info-one > a,
.contact-info-two > a,
.header-mail > a {
  color: black;
}

.header-mail {
  justify-content: flex-end;
}




/* for viewports greater than 1024px */
@media (min-width: 1024px) {
  .nav-item:hover .dropdown-menu {
    display: block;
  }
}

/* for viewports between 500px and 1280px*/
@media only screen and (min-width: 500px) and (max-width: 1280px) {
  .contact-info-one > a,
  .contact-info-two > a {
    color: black;
    width: 195px;
    display: inline-block;
    font-size: small;
  }

  .header-mail > a {
    color: black;
    display: inline-block;
    width: 195px;
    font-size: small;
  }
}

/* for viewports less than 768px */

@media (max-width: 768px) {
  header {
    height: 0px;
  }


  .TopHeader {
    padding: 6px;
    justify-content: space-around;
    min-height: 70px;
  }

  .contact-info-two {
    position: absolute;
    width: 167px;
    height: 34px;
    top: 11px;
    left: 16px;
    font-size: 14px;
    font-weight: 500;
  }

  .contact-info-two img {
    width: 21px;
    height: 21px;
    top: 7px;
    left: 6px;
    margin-right: 5px;
  }

  .contact-info-one {
    position: absolute;
    width: 166px;
    height: 29px;
    top: 40px;
    left: 15px;
    overflow: hidden;
    font-size: 13.5px;
    font-weight: 500;
  }

  .contact-info-one img {
    width: 23px;
    height: 23px;
    top: 3px;
    left: 19px;
    margin-right: 5px;
    align-items: center;
  }

  .header-mail {
    position: absolute;

    height: 34px;
    top: 20px;
    left: 200px;
    overflow: hidden;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
  }
  .header-mail img {
    width: 22px;
    height: 21px;
    top: 1px;
    left: 10px;
    margin-right: 5px;
  }
}


  /* styling the navbar */

  .MainLogo {
    height: 2.375rem;
    width: 2.375rem;
    margin-right: 3px;
  }
  
  #title {
    background-color: #000;
  }

.navbar-toggler {
   border: none;  
  /* keeps the border of hamburger menu as none */
  }

  #barnav {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    min-height: 3.75rem;
  }
  
  .navbar-brand {
    margin-right: auto;
    font-weight: 700;
    color: #fff;
    font-size: 1.5rem;
    text-decoration: None !important;
  }
  
  .nav-item {
    padding: 0 0.875rem;
    font-weight: 600;
  }
  
  .nav-link {
    color: #fff;
    transition: color 0.1s; /* Add a transition effect for smooth color change */
  }
  
  .navbar-brand:hover {
    color: #fff;
  }
  
  .nav-link:hover {
    color: #7bc74d; /* Change the text color on hover */
  }
  
  .section-heading {
    text-align: center;
  }

  .contact-nav {
    border: #7bc74d solid 2px !important;
    border-radius: 30px;
  
  }
  
  .contact-sidebar {
   color: #9ee771 !important;
   
  }

 
  /* for viewports less than 768px */
  
  @media (max-width: 768px) {
    header {
      height: 0px;
    }
    .navbar-brand {
      margin-right: auto;
      font-weight: 700;
      color: #fff;
      font-size: 20px !important;
      text-decoration: None !important;
    }
  
    .MainLogo {
      height: 26px;
      width: 26px;
      margin-right: 2px;
    }
  
  }

   /* styling the sidebar */
  
   #offcanvasDarkNavbar {
    background-color: #000;
    color: #fff;
    width: 72%;
    font-weight: 600;
  }
  
  .sidebar-brand {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  hr {
    margin: 0;
  }
  
  .offcanvas-title {
    font-size: 1.25rem;
    font-weight: 600;
  }
  
  .dropdown-menu-dark {
    background-color: #212121;
    color: #fff;
  }

  /* body is given some margin so that it wont be covered in the header */
  body{
    font-family: "Montserrat", sans-serif;
    margin-top: 100px;
  }
  
  @media (max-width: 768px) {
    body {
      margin-top: 130px;
      
    }
  }
  /* end of the body tag */


/* styling the main-slider*/

/* styling the carousel */
#main-slider {
padding: 0;
}

#main-slider > .item {
  height: 70vh;
  position: relative;
  
}

#main-slider > .item > img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.header-icon {
  color: #7bc74d;
  height: 30px;
  width: 30px;
}

@media (max-width: 767px) {
  #mobile-slider {
    display: block;
    margin-bottom: 5px;
    padding: 0;
  }
}

/* styling the arrows */

/* styling the carousel arrows */

.owl-nav .owl-prev {
  position: absolute;
  left: 15px;
  top: 43%;
  opacity: 1;

  background: rgba(0, 0, 0, 0) !important;

  cursor: pointer;

  display: block;
  z-index: 1000;
}
#main-slider .owl-nav .owl-prev span {
  font-size: 4rem;
  color: #fff;
}

#main-slider .owl-nav .owl-next {
  position: absolute;
  right: 15px;
  top: 43%;
  opacity: 1;

  background: rgba(0, 0, 0, 0) !important;

  display: block;
  z-index: 1000;
}
#main-slider .owl-nav .owl-next span {
  font-size: 4rem;
  color: #fff;
}

@media (max-width: 500px) {
  #main-slider .owl-nav .owl-next span {
    font-size: 2rem;
  }
  #main-slider .owl-nav .owl-prev span {
    font-size: 2rem;
  }
}

.owl-dots {
  text-align: center;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  height: 12px !important;
  width: 12px !important;
  margin: 3.5px 7px;
  background: #fff !important;
  display: block;

  transition: opacity 0.2s ease;

  border: #aaaaaa solid 1.6px !important;
}

.owl-theme .owl-dots .owl-dot span {
  background-color: #aaaaaa !important;
  border-radius: 50%;
  height: 8px !important;
  width: 8px !important;
  position: relative;
}


  
/* styling the about us section */
  #about-section {
    padding: 2rem 0;
  }
  
  #embed-video {
    height: 320px;
    border-radius: 5px;
  }
  
  .about-headlines > h4 {
    padding-top: 1rem;
  }
  
  @media (max-width: 768px) {
    #embed-video {
      height: 280px;
    }
  
    #about-content {
      font-size: 14px !important;
      text-align: justify;
    }
  
    .about-headlines > h4 {
      font-size: 16px;
    }
    .about-headlines > h3 {
      font-size: 16px;
    }
  
    #Read-more-btn {
      background-color: #7bc74d;
      border: #7bc74d;
      text-align: left;
      line-height: 25px;
      letter-spacing: 0px;
      font-weight: 500;
      padding-left: 15px !important;
      border-radius: 100px;
      padding-right: 15px !important;
      margin-top: 0;
    }
  
    #Read-more-btn > a {
      font-size: 11px !important;
    }
  }
  
  #about-content {
    font-size: 1.1rem;
  
    text-align: justify;
  }
  
  #Read-more-btn {
    background-color: #7bc74d;
    border: #7bc74d;
    text-align: left;
    line-height: 25px;
    letter-spacing: 0px;
    font-weight: 700;
    padding-left: 30px;
    border-radius: 100px;
    padding-right: 30px;
    margin-top: 0;
  }
  
  #Read-more-btn > a {
    color: #212121;
    font-size: 0.9rem;
  }
  
  #Read-more-btn:hover {
    animation: pulse 1s infinite;
  }


  /* our offerings section */
  
  #offerings-first-row {
    justify-content: space-between;
  }
  
  #offerings-first-row > * {
    margin: 1.25rem 0;
    max-width: 19.375rem; /*310px/16*/
  }
  
  .card {
    /* referring directly to the animation's @keyframe declaration */
  
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
  }
  
  .card-title {
    color: #000;
  }
  
  #cards-container {
    padding: 20px 0;
  }
  
  /* styling the clients section */
  
  #client-carousel figure img {
    height: 100px;
    width: 130px;
  }
  
  @media (max-width: 768px) {
    #client-carousel figure img {
      height: 80px;
      width: 95px;
    }
  }